:root {
  --spacing-sm: 2rem;
  --spacing-lg: 4rem;
}

/**
 * .heroBanner styles for the main promotional banner
 * The padding is larger on bigger screens and smaller on mobile for better space utilization
 */
.heroBanner {
  padding: var(--spacing-lg) 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

/**
 * Adjust .heroBanner padding for tablet and mobile screens
 */
@media screen and (max-width: 768px) {
  .heroBanner {
    padding: var(--spacing-sm);
  }
}

/**
 * .buttons are flex-container for button elements
 * Flex-wrap ensures the buttons do not overflow and stack on smaller screens
 */
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
